.module-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
  }
  
  .module-button {
    width: 40%;
    font-size: large;
    font-weight: bold;
    height: 4rem; 
   
    border-radius: 10px;
    /* padding: 3rem; */
    margin: 1rem;
  }