.module-container {
  text-align: center;
  margin: 2rem auto;
}

.module-button {
  width: 95%;
  font-size: large;
  font-weight: bold;
  height: 4rem;
  background-color: #F05454;
  border: 1px solid #F05454;
  color: white;
  margin: 1rem;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out; /* Added transition */
}

.module-button:hover {
  background-color: rgb(207, 59, 59);
  border: 1px solid rgb(207, 59, 59);
}

.module-card {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.module-title {
  font-weight: 500;
}
