/* Home Styles */
.navbar-brand{
    margin-left:2rem; 
    color:white;
}
.navbar-logo{
    width: 3rem;
}
.navbar-item{
    color:white;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.25rem; 
    font-weight: bolder;
}
.navbar-item:hover{
    color: white;

}
.home-main-area{
    width: 90%; 
    margin: 0 auto;
}
.course-sidebar{
    text-align: left;
    margin: 2rem 0 0 5rem;
}

.course-sidebar-title{
    margin-top:3rem;
    margin-left:0.5rem;
    font-weight:bold;
    font-size:2rem
}
.course-sidebar-item{
    height:2rem;
    margin-left:1.5rem;
}
.course-title{
    margin-top: 2rem;
    font-weight: bold;
    font-size: 3.5rem;
}
.home-modules{
    text-align: left;
    margin: 4rem auto;
    width: 90%;
}
.add-module-button{
    border-radius: 10px;
    font-size: 1rem;
    height: 2.5rem;
    width: 6rem;
}
.add-module-section{
    text-align: right;
    padding-right: 3rem;
}
.create-room-container{
    margin: 2rem auto;
    width:60%;
    background-color: #f8f8f8;
    padding: 6rem 1rem;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.room-name-input{
    width: 90%;
    margin: 2rem auto;
}

/* Courses Page Styling */
.courses-heading{
    margin: 3rem 5rem;
}


